################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/FillingLevelApp
/ARM
/Debug/StationLib
/FillingLevelApp.Core/bin
/FillingLevelApp.Core/obj
/StationLib/ARM
/StationLib/Debug
/StationLib/x64
/x64
/FillingLevelApp/bin
/FillingLevelApp/obj
/.vs
/FillingLevelApp/AppPackages/FillingLevelApp_1.0.0.0_Test
/Release/StationLib
/StationLib/Release
